version: '3'

services:
  minio:
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    ports:
      - '9000:9000'
      - '9001:9001'
    networks:
      - ops-network
    volumes:
      - 'minio_data:/data'
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=az2RGrBK08LV
      - MINIO_DEFAULT_BUCKETS=offer-processing
    command: minio server /data --console-address ":9001"

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=offer-processing-service
    ports:
      - "5432:5432"
    networks:
      - ops-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - ops-network
    restart: unless-stopped
networks:
  ops-network:
    driver: bridge

volumes:
  minio_data:
    driver: local
  rabbitmq_data:
    driver: local