server:
  port: 8080
  servlet:
    context-path: /offer-processing-service/api
spring:
  application:
    name: offer-processing-service
  datasource:
    url: jdbc:postgresql://localhost:5432/offer-processing-service?currentSchema=public
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  rabbit:
    host: localhost
    port: 5672
    username: guest
    password: guest
minio:
  url: http://localhost:9000
  bucket: offer-processing
  access-key: root
  secret-key: az2RGrBK08LV
  auto-create-bucket: true
  connect-timeout: 10000
  write-timeout: 60000
  read-timeout: 10000

  prefix-to-delete: /s3/offer-processing
  price-lists-folder: /s3/offer-processing/price-lists
  price-lists-url: /price-lists
  file-format: '%s%s'

  part-size: 5242880

logging:
  level:
    org.hibernate.orm.connections.pooling: error
#    org.springframework.statemachine: DEBUG